$tab__head--active-color: #ea6f5a;
$radius-login: 3px;
$radius-tab__content__button: 1rem;
.login {
    @extend %all-center;
    border: 1px solid lightblue;
    border-radius: $radius-login;
    padding: 1rem 2rem;
    h1 {
        text-align: center;
    }
    .tab-head {
        h3 {
            font-size: 2rem;
            text-align: center;
            cursor: pointer;
            .clicked,
            .unclicked {
                display: inline-block;
                margin: 1rem 2rem;
            }
            .clicked {
                border-bottom: 2px solid $tab__head--active-color;
                color: $tab__head--active-color;
            }
        }
    }
    .tab-content {
        button {
            display: block;
        }
        .username, .password {
            border: 1px solid #c8c8c8;
        }
        .username {
            border-radius: .5rem .5rem 0 0;
            border-bottom: none;
        }
        .password {
            border-radius: 0 0 .5rem .5rem;
        }
        input {
            display: block;
            width: 90%;
            line-height: 3rem;
            margin: 0 1rem;
            border: none;
            &:focus {
                outline: none;
            }
        }
        button {
            margin-top: 1rem;
            padding: .5rem 2rem;
            border-radius: $radius-tab__content__button;
            &:focus {
                outline: none;
            }
        }
    }
}

/* 固定宽高垂直居中  */
%all-center {
    width: 20rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10rem;
    margin-top: -20rem;
}
