$articleHeight: 100%;
$articleListWidth: 15%;
$editorWidth: 85%;
$editorTitleHeight: 40px;
$editorTitleFontSize: 18px;


#article {
    height: $articleHeight;
    .editor-area {
        float: right;
        width: $editorWidth;
        border-top: 1px solid transparent;
        .editor-title {
            display: block;
            width: 100%;
            border: none;
            height: $editorTitleHeight;
            font-size: $editorTitleFontSize;
            padding-left: 2rem;
        }
        .editor {
            border: none;
        }
        .toolbar {
            li {
                float: right;
                line-height: 2rem;
                padding: .5rem 1rem;
                &:hover {
                    cursor: pointer;
                    background: #fff;
                }
            }
        }
    }
    .article-list {
        height: 40rem;
        float: left;
        width: $articleListWidth;
        .add-article {
            display: block;
            text-align: center;
            font-size: 16px;
            border-left: 4px solid red;
            height: 30px;
            padding: 4px 0;
            box-sizing: border-box;
            &:hover {
                background: #ccc;
                cursor: pointer;
            }
        }
        .list {
            li {
                cursor: pointer;
                .article-title {
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .article-datetime {
                    float: right;
                    padding-right: 10px;
                }
                &:hover {
                    background: #ccc;
                    cursor: pointer;
                }
            }
            .delete-article {
                display: none;
            }
        }
    }

}
