$z-index-user--menu--avatar: 1000;
$header-height: 7rem;

.user--menu {
    &::before {
        content: '';
        display: block;
        border: 4px solid transparent;
        border-bottom: 2px solid #fff;
    }
    position: fixed;
    width: 10rem;
    right: 10rem;
    transition: display 2s;
    z-index: $z-index-user--menu--avatar;
    top: $header-height;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
    li {
        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
        padding: 0 1rem;
        a {
            display: block;
            padding: 1rem;
            border-bottom: 1px solid #eee;
        }
        &:last-child a {
            display: inline-block;
            border: none;
        }
    }
}
