.livingroom {
    padding: 1rem 2rem;
    .article-list__item__title {
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: #000;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    h2 {
        border-left: 4px solid #ff2853;
        padding: 1rem 2rem;
    }
    &  li > p {
        max-height: 6rem;
        word-wrap: break-word;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    @extend %article-list
}

%article-list {
    li {
        width: 50%;
        border-bottom: 1px solid #eee;
        padding: 1rem 0;
        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            vertical-align: middle;
        }
        strong, time {
            margin-left: 1rem;
        }
    }
}
