$avatar__length: 3rem;

.livingroom {
    padding: 1rem 2rem;
    .article-list__item__title {
        font-size: 2rem;
        text-decoration: none;
        color: #000;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    h2 {
        border-left: 4px solid #ff2853;
        padding: 1rem 2rem;
    }
    &  li > p {
        max-height: 6rem;
        word-wrap: break-word;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    @extend %article-list
}

%article-list {
    li {
        width: 50%;
        border-bottom: 1px solid #eee;
        padding: 1rem 0;
        img {
            width: $avatar__length;
            height: $avatar__length;
            border-radius: 50%;
            vertical-align: middle;
        }
        strong, time {
            margin-left: 1rem;
        }
    }
}

.author-info {
    position: relative;
    .author__nickname, time {
        position: absolute;
        left: 3rem;
    }
    .author__nickname {
        top: 0;
    }
    time {
        bottom: 0;
    }
}
