$modal__head-hight: 2rem;
$modal__close-squre: 1rem;
.modal {
    position: fixed;
    z-index: 10000;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background: #fff;
    .modal__head {
        height: $modal__head-hight;
        border-bottom: 1px solid #e9e9e9;
        border-radius: 4px;
        padding: 1rem;
        .modal__close {
            &::before {
                content: "x";
                display: block;
            }
            float: right;
            width: $modal__close-squre;
            height: $modal__close-squre;
            text-align: center;
            line-height: $modal__close-squre;
            &:hover {
                background: #eee;
                cursor: pointer;
            }
        }
    }
}
