$header-height: 7rem;

$white: #fff;

$header-wrap-bg-color: $white;

header {
    height: $header-height;
    margin-bottom: 4rem;
    .header-wrap {
        padding: 0 5%;
        border-bottom: 1px solid #ccc;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        box-sizing: border-box;
        background: $header-wrap-bg-color;
        .title {
            float: left;
            padding-left: 3rem;
        }

        .login-btn-group {
            float: right;
            width: 20rem;
            line-height: $header-height;
            text-align: center;
        }
        .search-form {
            display: inline-block;
            background: lightblue;
            padding: 5px;
            border-radius: 3px;
            margin-left: 8rem;
            input {
                border: none;
                background: transparent;
                width: 20rem;
            }
            & input:focus {
                outline: none;
            }
            i:hover {
                cursor: pointer;
            }
        }
        /* 登陆前 */
        .login-btn {
            background: url('/img/qq_login.png');
            width: 100px;
            height: 20px;
            display: inline-block;
            cursor: pointer;
        }

    }
}

.nav-top {
    height: 100%;
    line-height: 4rem;
    font-size: 16px;
    padding-left: 6rem;
    display: inline-block;
    ul > li {
        display: inline;
        padding: 1rem 2rem;
        &:hover {
            background-color: #ccc;
            color: #fff;
            cursor: pointer;
        }
    }
}

/* 登陆后 */
.user {
    position: absolute;
    top: 0;
    right: 10rem;
    .user--avatar {
        &:hover + .user--menu {
            display: block;
        }
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 1.5rem;
        vertical-align: bottom;
    }
    .user-signout {
        display: inline-block;
        line-height: $header-height;
    }
    .user--menu {
        &::before {
            content: '';
            display: block;
            border: 4px solid transparent;
            border-bottom: 2px solid #fff;
        }
        display: block;
        position: absolute;
        width: 80%;
        top: $header-height;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
        li {
            &:hover {
                background-color: #eee;
                cursor: pointer;
            }
            padding: 0 1rem;
            a {
                display: block;
                padding: 1rem;
                border-bottom: 1px solid #eee;
            }
            &:last-child a {
                display: inline-block;
                border: none;
            }
        }
    }
}
