$articleHeight: 100%;
$articleListWidth: calc(15% - 2px);
$editorWidth: 85%;
$editorHeight: calc(100% - 66px);
$editorTitleHeight: 40px;
$editorTitleFontSize: 18px;

$mainbg: #df744a;
$borderColor: #ccc;


#article {
    height: $articleHeight;
    .editor-area {
        float: right;
        width: $editorWidth;
        height: $editorHeight;
        .editor-title {
            display: block;
            width: 100%;
            border: none;
            border-top: 1px solid $borderColor;
            height: $editorTitleHeight;
            font-size: $editorTitleFontSize;
            padding-left: 2rem;
            &:focus {
                outline: none;
            }
        }
        .editor {
            border: none;
            height: $articleHeight;
        }
        .toolbar {
            background: #dedede;
            li {
                float: right;
                line-height: 2rem;
                padding: .5rem 1rem;
                &:hover {
                    cursor: pointer;
                    background: #fff;
                }
            }
        }
    }
    .article-list {
        height: 40rem;
        float: left;
        width: $articleListWidth;
        border: 1px solid $borderColor;
        .add-article {
            display: block;
            text-align: center;
            font-size: 16px;
            border-left: 4px solid red;
            height: 5rem;
            line-height: 5rem;
            &:hover {
                background-color: $borderColor;
                cursor: pointer;
            }
        }
        .list {
            li {
                cursor: pointer;
                .article-title {
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .article-datetime {
                    float: right;
                    padding-right: 10px;
                }
                &:hover {
                    background-color: #dcdcdc;
                    cursor: pointer;
                }
            }
            .delete-article {
                display: none;
            }
        }
    }

}
